.bet {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 5px;
}

.bet:hover {
    transform: translateY(-1px);
    cursor: pointer;
}

.subject {
    max-width: 3%;
}

.gameInfo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.team {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 200px;
}

.end {
    justify-content: end;
}

.teamName {
    color: white;
}

.teamLogo {
    max-width: 42px
}
/* 6%; */

.date {
    color: white;
}

.tournament {
    max-width: 4%;
}




@media (max-width:1200px) {
    .subject {
        max-width: 4%;
    }
    .teamLogo {
        max-width: 28px
    }
    /* 8%; */
    .tournament {
        max-width: 6%;
    }
}

@media (max-width:992px) {
    .teamLogo {
        max-width: 32px;
    }
    .team {
        min-width: auto;
    }
    .teamName {
        width: 90px;
    }
    /* 10%; */
}

@media (max-width:768px) {
    .bet {
        padding: 10px 10px
    }
    .subject {
        max-width: 6%;
    }
    .teamLogo {
        max-width: 32px;
    }
    /* 14%; */
    .tournament {
        max-width: 8%;
    }
    .team {
        min-width: auto;
    }
} 

@media (max-width:500px) {
    .subject {
        max-width: 6%;
    }
    .teamLogo {
        max-width: 28px;
    }
    /* 16%; */
    .tournament {
        max-width: 8%;
    }
    .teamName {
        font-size: 14px;
        width: 77px;
    }
}

@media (max-width:400px) {
    .teamName {
        font-size: 12px;
        width: 66px;
    }
    
}